/*header start*/
.c_n a{
	color: white;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

.menu{}
.menu ul{
	list-style: none;
}
.menu ul li{
	display: inline-block;
}
.menu ul li a{
	font-size: 18px;
	font-weight: 600;
	transition: 0.33s;
	border-bottom: 1px solid transparent;
}
.menu ul li a:hover{
	border-bottom: 1px solid white;
	border-radius: 2%;
}
/*header end*/

/*main start*/
/*v align start*/
.b_border{
	width: 100%;
	height: 280px;
}

.box{
	margin-top: 45px;
	width: 100%;
	height: 185px;
}

.c_box{
	color: white;
	height: 50px;
	padding: 12px 0;
}

.row{
	min-height: 185px;
}
/*v align end*/

.b_border2{
	width: 100%;
	height: 500px;
}
.box2{
	margin-top: 46px;
	width: 100%;
	height: 400px;
}
.c_box2{
	color: white;
	height: 50px;
	padding: 12px 0;
}

.row2{
	min-height: 70px;
}

.container2{
	padding: 0 30px;
}
/*main end*/